alembic
bcrypt
cloudinary
fastapi
fastapi_jwt_auth
fastapi_mail
google-cloud-storage
pandas
passlib
pydantic
pydantic-settings
PyMySQL
python-dateutil
python-dotenv
python-multipart
python-jose[cryptography]
starlette
sqlalchemy
uuid
uvicorn